.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix


.trash
Personal
.tmp.driveupload
.tmp.drivedownload
.tmp.drivedownload
Archive
Omnivore