@use "./base.scss";

// Override
.external-embed {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  border-radius: 10px;
}

.clipboard-button {
  margin-top: 0.35rem;
  margin-right: 0.5rem;
}

a {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-weight: 500;
}

pre {
  margin-left: 25px;
}

.callout {
  // margin-left: 1.6rem;
  // margin-right: 0.5rem;
}


// h3 {
//   color: var(--secondary); // Add a custom color to make it visually distinct
// }

// My Own Custom Class
.onecompilerCode-wrapper {
  width: 100%;
}
.onecompilerCode {
  height: 450px;
  width: 100%;
  border-radius: 10px;
}