@use "./base.scss";

// put your custom CSS here!
.external-embed {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  border-radius: 10px;
}

.onecompilerCode-wrapper {
  width: 100%;
}
.onecompilerCode {
  height: 450px;
  width: 100%;
  border-radius: 10px;
}